
body {
  font-family: 'Times New Roman',Georgia,Serif;
  text-align: center;
  background-color: #fbfbf8;
  color: black;
  line-height: 140%;
  letter-spacing: 0px;
  word-spacing: 3px;
}

.link {
  text-align: right !important;
}

.btn {
  display: inline-block;
  background: #0e73b8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.header {
  text-align: right;
  padding: 0px;
  margin: -8px;
  top: 0;
  background: #0e73b8;
}

.response {
  text-align: justify;
  text-justify: inter-word;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  outline: black solid 1px;
  outline-offset: -30px
}

.title {
  text-align: center;
  color: white;
  font-family: Quicksand;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 11%;
  width: 11%;
}

.link1 {
  text-align: right;
}

.link2 {
  text-align: left;
}

.searchBar {
  width: 50%;
  height: 40px;
}

.mag {
  margin-left: -30px;
  margin-top: -20px;
}

.brace {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.searchBar::placeholder {
  font-size: 20px;
}
