
body {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  background-color: #fbfbf8;
  color: black;
  line-height: 140%;
  letter-spacing: 0px;
  word-spacing: 3px;
}

.btn-group .btn {
  display: inline-block;
  background: white;
  border: 1px solid grey;
  color: black;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
}

.btnclicked{
  background-color: 'grey';
}

.btn-group .btn:hover {
  transform: scale(1.1);
  background-color: #0e73b8;
  color: white;
}

.header {
  text-align: right;
  padding: 0px;
  margin: -8px;
  top: 0;
  background: #0e73b8;
}

.response {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 70px;
  outline: black solid 0px;
  background-color: white;
  animation: 1.2s cubic-bezier(0, 1.18, 1, 0.95) 0s 1 slideUp;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.arrow
{
  float: left;  
  margin-left: 8%;
}

.lecLink
{
  text-align: center !important;
  background-color: #0e73b8;
  color: white;
  margin-left: auto;
  width: 5%;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;;
} 

.link3 {
  text-decoration: none;
  color: white
}

.lecLink:hover
{
  transform: scale(1.5);
  background: grey;
}

.title 
{
  text-align: center;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
}

.logo {
  height: 11%;
  width: 11%;
  margin: 1%
}

.link1 {
  text-align: right;
}

.link2 {
  text-align: left;
}

.searchBar {
  width: 50%;
  height: 40px;
}

.timeStamp {
  white-space: pre;
}

.mag[type=image] {
  background-color: lightgray;
  padding-top: 6px;
  padding-right: 27px;
  padding-left: 27px;
  padding-bottom: 6px;

}

.mag {
  margin-left: -79px;
  margin-bottom: -15px;
}

.brace {
  margin-left: 55%; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: .25px;
}

.searchBar::placeholder {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}

input[type=text] {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}

.copyright {
  height: 10%;
  width: 10%;
}

.workingTitle {
  margin-top: 50px;
  margin-right: 4%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 60px;
}

.lectureTitle {
  margin-top: 2%;
  font-size: 40px;
}

.responsePlaceHolder {
  margin-top: 50px;
  margin-bottom: 200px;
}

.stopShake {
  margin-bottom: 500px;
}

.player-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
}

.back {
  margin-top: 20px;
  margin-left: 10%;
}

.react-player {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 13%;
  display: flex;
  border:5px solid black
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  justify-content: space-between;
}

